#blog, #newsletter {
    width: 50%;
    background: url('/resources/cogwheels_gold.png');
    background-repeat: repeat-y;
    background-size: 100% auto;
    display: table-cell;
}
#blog.p, #newsletter.p {
    margin: 10% 0 10% 0;
}
#Container {
    display: table;
    width: 100%;
}