#cnews {
    width: 50%;
    height: auto;
    background: white;
    padding: 1em;
}
#myths {
    margin-left: 2em;
    margin-right: 2em;
    background: #888;
}
#head, footer {
    background-color: gray;
}
body {
    background: url("/resources/pipes.png") repeat;
}