article {
    font-size: 200%;
    width: 50%;
    padding-left: 25%;
}
address {
    font-size: 50%;
}
p {
    text-align: left;
    font-style: normal;
    text-indent: 2em;
}
.image {
    width: 25%;
    height: auto;
}